body {
	max-width: 650px;
	margin: 0 auto;
	font-family: Arial, Veranda, sans-serif;
}
a {
    text-transform: inherit;
    text-decoration: none;
    color: white;
    
}
img {
	max-width: 100%;
	height: auto;
}
section {
	padding: 0px 10px 0px 10px;
}
.tele_button {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 650px;
	background-color: #0088cc;
	border-radius: 5px;
	text-align: center;
}
.whatsapp_button {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 650px;
	background-color: #25D366;
	border-radius: 5px;
	text-align: center;
}
.button_ico {
	padding: 0 10px;
}

footer {
	background-color: black;
	display: flex;
}
.social_box{
	/*border: 1px solid red;*/
	display: flex;
	justify-content: center;
	align-items: center;

}
.gallery {
	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;

}
.g_img {
	width: 45%;
	height: auto;
	padding: 20px 0px 0px 0px;
	margin: 0;
}

.box_map {
	padding: 2em auto;
	
}


/**/
.hard_pos{
	margin: 0 auto;
	
}
.scan_cod {
   width: 100px;
   height: auto;  
}

.lamp {
  color: #fff;
  text-shadow:
    0 0 1px #fff,
    0 0 2px #fff,
    0 0 5px #fff,
    0 0 11px #0fa,
    0 0 20px #0fa,
    0 0 30px #0fa,
    0 0 55px #0fa,
    0 0 80px #0fa;
 }
@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
lamp:
  color: #fff;
  text-shadow:
    0 0 1px #fff,
    0 0 2px #fff,
    0 0 5px #fff,
    0 0 11px #0fa,
    0 0 20px #0fa,
    0 0 30px #0fa,
    0 0 55px #0fa,
    0 0 80px #0fa;
 }
  20%, 24%, 55% {       
    text-shadow: none;
  }
}
.lamp {
  animation: flicker 1.5s infinite alternate;     
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



/**/






@media (max-width: 414px) {
.gallery {
	flex-direction: column;

}
.g_img {
	width: 100%;
	/*height: auto;
	padding: 20px 0px 0px 0px;
	margin: 0;*/
}
}